body{
    margin:auto;
    padding:auto;
    text-align: center;
    background-color: #daebf3;
}

body form * {
    font-family: Verdana, Arial;
    font-size:16px;
}

table{
    margin: auto;
    margin-top: 10px;
}

td, th{
    text-align :center;
}

h1{
    margin-bottom:60px; 
}

select{
    margin-right: 50px;
    min-width: 150px;
}

.alignTop{
     vertical-align:top;
}

.Evolution{
    text-align: center;
    display: inline;
}

#loadingImage{
    margin-left: 25px
}

#mainForm, secondForm{
    margin-bottom:60px;
}

#nbResult{
    display: inline;
    margin: 10px;
}

#firstPartOfForm{
    padding-bottom:15px;
    margin-top: 60px;
}
