body{
	margin:auto;
	padding:auto;
	text-align: center;
	background-color: #daebf3;
}

body form * {
    font-family: Verdana, Arial;
    font-size:12px;
}

table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
}

td, th{
    border: 2px solid black;
    text-align :center;
    padding-left:10;
    padding-right:10;
    padding-top:5;
    padding-bottom:5;
}

h1{
	margin-bottom:60px; 
}

select{
    margin-right: 50px;
    min-width: 150px;
}

.alignTop{
     vertical-align:top;
}

.Evolution{
    text-align: center;
    display: inline;
}

#loadingImage{
    margin-left: 25px
}

#mainForm, secondForm{
	margin-bottom:60px;
}

#nbResult{
    display: inline;
    margin: 10px;
}

#firstPartOfForm{
    padding-bottom:15px;
    margin-top: 60px;
}

#ErrorMessage{
    border: 2px dashed black;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}